.badges {
  display: flex;
  margin-right: 20px;
}

.badge {
  margin-left: 2px;
  margin-right: 2px;
}

.badge.bg-primary {
  background-color: #0d6efd;
}

.badge.bg-danger {
  background-color: #dc3545;
}

.badge.bg-success {
  background-color: #198754;
}

.confirm-button {
  width: 200px;
}

.sub-accordion .accordion-button:focus {
  box-shadow: none;
}

.sub-accordion .accordion-button:not(.collapsed) {
  color: #212529;
}