.badges {
  display: flex;
  margin-right: 20px;
}

.badge {
  margin-left: 2px;
  margin-right: 2px;
}

.confirm-button {
  width: 200px
}

.sub-accordion .accordion-button:focus {
  box-shadow: none;
}

.sub-accordion .accordion-button {
  background-color: white !important;
}

.sub-accordion .accordion-button:not(.collapsed) {
  color: #212529;
}