.div__sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
 }

.form-group__username, .form-group__password, .form-group__check {
  padding-bottom: 16px;
}

.form-group__check {
  padding-top: 2px;
}

.form-group__submit {
  padding-bottom: 8px;
<<<<<<< HEAD
}
=======
}
>>>>>>> ae1b665 (Initial commit)
