.div__vote-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.card-body__vote-selection {
  width: 1200px;
  min-width: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> ae1b665 (Initial commit)
=======
}

.card {
  display: flex;
  max-width: max-content;
  min-width: fit-content;
}
>>>>>>> 880c5f2 (Reafactoring)
