<<<<<<< HEAD
<<<<<<< HEAD
.badges {
  display: flex;
  margin-right: 20px;
}

.badge {
  margin-left: 2px;
  margin-right: 2px;
}

.confirm-button {
  width: 200px
=======
.badge {
  margin-right: 20px;
>>>>>>> ae1b665 (Initial commit)
=======
.badges {
  display: flex;
  margin-right: 20px;
}

.badge {
  margin-left: 2px;
  margin-right: 2px;
}

.confirm-button {
  width: 200px
>>>>>>> 880c5f2 (Reafactoring)
}